:root {
  --bg-color: #0a0a0a;
  --card-bg: #1a1a1a;
  --text-main: #e0e0e0;
  --text-muted: #858585;
  
  --accent-primary: #00ff41;
  --accent-secondary: #f700ff;
  --border-color: #333333;

  --font-mono: 'Courier New', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: var(--font-mono);
  line-height: 1.6;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 0px 20px;
}

.create-box {
  
  background-color: var(--card-bg);
  padding: 30px;
  border: 1px solid var(--border-color);
  /* box-shadow: 0 0 5px rgba(81, 241, 6, 0.5); */
}

.create-box h2 {
  color: var(--accent-primary);
  margin-bottom: 20px;
  font-size: 1.2rem;

}

input[type="text"] {
  width: 70%;
  padding: 15px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  color: var(--text-main);
  font-family: var(--font-mono);
  outline: none;
}

input[type ="text"]:focus {
  border-color: var(--accent-primary);
}

button {
  width: 25%;
  padding: 12px;
  margin-left: 2%;
  background-color: var(--accent-primary);
  color: #000;
  border: none;
  font-family: var(--font-mono);
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  background-color: var(--accent-secondary);
  color: #fff;
}

.notes-list {
  margin-top: 50px;
}


.note-card {
  background-color: var(--card-bg);
  border-left: 5px solid var(--accent-primary); 
  padding: 20px;
  margin-bottom: 20px; 
  color: var(--text-main);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  

  animation: fadeIn 0.5s ease-in;
}

.note-card p {
  font-size: 1.1rem;
}


.empty-state {
  text-align: center;
  color: var(--text-muted);
  margin-top: 50px;
  font-style: italic;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}